body {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url('https://unsplash.com/photos/A10y2Eq7OHY/download?force=true'); /* Sanity Check! */
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin-top: 100px;
  text-align: center;
}
